/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.05.2015, 17:06:06
    Author     : Анна
*/
/*html {
    background-image: url(../img/depositphotos_6711791-Stone-wall-texture.jpg);
}*/

body{
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
}

/*div{
    //height: 200px;  Высота блока 
    //border: 2px solid #000;
    height:240px;
    width:400px;
    margin-left:60px;
    padding-top:310px;
}*/
/*.main {
    background-image: url(../img/8783.jpg); 
    background-position: center;
}*/
/*background-image: url(8783.jpg);
    background-repeat: no-repeat;
     background-position: center;*/

/*.clear{
    clear:both;
}*/

/*.content{
    padding:10px;
}*/

/*.left{
    width: 35%;
    float:left;
    padding-left:140px;
    padding-right:10px;
}

.right{
    width:35%;
    float:right;
    padding-right:160px;
    padding-left:10px;
}*/

/*-------------------------sticky footer configuration------------------------*/
* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {    
    background: url(../img/otkritay_kniga070111.jpg);
    background-size: 100% 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.footer, .push {
    height: 4em;
}

/*--------------------------footer configuration------------------------------*/
/*.footer{
    padding: 10px 120px;
    background: url(../img/footer.png) no-repeat;
    background-size: 80% 100%;
    background-position-x: 10%;
}*/

/*.footer p{
    padding-top: 20px;
}
*/
/*--------------------------header configuration------------------------------*/
/*.header{
    width: 100%;
    height: 200px;
    margin: 0 auto;
    padding-bottom: 10px;
}*/

.logo {
	width:900px;
	height:150px;
	//margin: 0 auto;
	right:500px;
	top:100px;
}
/*.main{
    border: 2px solid black;
   width:600px;
   height: 500px;
   margin:10px;
   margin-left: 250px;
   border-image-source: url(1304838726_psd-clipboard-icon1280x1024px.jpg);
  border-image-slice: 100%;
}*/
.main{
	width:984px; 
        margin:10px;
}