<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/res/templates/main_template.xhtml">
    <ui:define name="body">
        <p:dataTable id="table" value="#{doctorsController.doctors}" var="item">
            <p:column headerText="INN">
                <h:outputText value="#{item.inn}"/>
            </p:column>
            
            <p:column headerText="Name">
                <h:outputText value="#{item.snp}"/>
            </p:column>

            <p:column headerText="Job">
                <h:outputText value="#{item.job}"/>
            </p:column>
        </p:dataTable>
    </ui:define>
</ui:composition>